@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&display=swap');
.login{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://cdn.europosters.eu/image/1300/posters/dragon-ball-flying-i88632.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Bebas Neue', cursive;
}
.card{
    background: none;
    border: none;
}
h5{
    color: rgb(255, 255, 255);
}
label{
    color: rgb(255, 255, 255);
}